.boat-surface {
  // background-color: red;
  left: 50%;
  transform: translateX(-50%);
  width: 450px;
  height: 200px;
  background-image: url('../../assets/img/background/boat.png');
  background-repeat: no-repeat;
  background-size: 450px 200px;
  position: relative;
  @include media-tablet {
    left: 45%;
    width: 400px;
    background-size: 400px 200px;
  }
}

.boat {
  position: relative;
  width: 450px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  @include media-tablet {
    width: 400px;
  }
}
