.boat-surface {
  // left: 25%;
  // transform: translateX(-50%);
  width: 550px;
  height: 200px;
  background-image: url('../../assets/img/background/boat.png');
  background-repeat: no-repeat;
  background-size: 550px 200px;
  position: relative;
  @include media-tablet {
    // left: 40%;
    width: 400px;
    background-size: 350px 200px;
  }
}

.boat {
  // position: relative;
  position: absolute;
  left: 150px;
  // width: 100%;
  // width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  @include media-tablet {
    // width: 300px;
  }
}
