.boat-surface {
  position: relative;
  width: 650px;
  height: 200px;
  background-image: url('../../assets/img/background/boat.png');
  background-repeat: no-repeat;
  background-size: 650px 200px;
  @include media-tablet {
    width: 430px;
    background-size: 430px 200px;
  }
}

.boat {
  position: absolute;
  left: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  @include media-tablet {
    left: 100px;
  }
}
