.editor {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 10px solid $color-border-dark;

  @extend %font-prim;
  @include font(1.6rem, $color-light-text);
  @include media-tablet {
    flex-direction: column;
  }
  @include media-laptop-large {
    font-size: 1.4rem;
  }
  @include media-laptop-height {
    font-size: 1.4rem;
  }
}

.editor__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 3px solid $color-border-light;
  background-color: $color-primary-light;
}

.editor__css {
  width: 50%;
  background-color: $color-secondary;
  @include media-tablet {
    width: 100%;
  }
  .editor__header {
    border-right: none;
    @include media-tablet {
      border: 3px solid $color-border-light;
      border-bottom: none;
    }
  }
}

.editor__html {
  width: 50%;
  background-color: $color-primary;
  @include media-tablet {
    width: 100%;
  }
  .editor__header {
    border-left: none;
    @include media-tablet {
      border: 3px solid $color-border-light;
      border-bottom: none;
    }
  }
}

.editor__code-wrapper {
  display: flex;
  padding: 20px;
  @extend %font-add;
  @include media-laptop-height {
    padding: 10px;
  }
}

.editor__selector {
  display: flex;
  width: 100%;
}

.editor__input {
  border: 2px solid $color-border-dark;
  @extend %cursor-hover;
  margin-left: 10px;
  width: 100%;
  height: 30px;
  &:focus {
    outline: none;
    border: 2px solid $color-active;
  }
}

.editor__button {
  @extend %cursor-hover;
  margin-left: 10px;
  width: 70px;
  height: 30px;
  background-color: $color-primary;
  color: $color-dark-text;
  border: 3px solid $color-border-dark;
  transition: all 0.7s;
  &:hover {
    color: $color-light-text;
  }
}

.editor__list {
  padding-right: 5px;
  border-right: 2px solid $color-primary-light;
  list-style-type: none;
}

.editor__code {
  margin-top: -18px;
  margin-left: -14px;
}

.editor__code-html {
  @extend %cursor-hover;

  @extend %font-add;
  letter-spacing: 1.5px;
}
