.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__img-git {
  width: 100px;
  @include media-tablet {
    width: 60px;
  }
}

.footer__year {
  font-weight: 700;
  font-size: 40px;
  color: rgb(11, 93, 169);
  @include media-tablet {
    font-size: 30px;
  }
}

.footer__img-rsschool {
  width: 150px;
  @include media-tablet {
    width: 100px;
  }
}
