.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.footer__img-git {
  width: 100px;
  @include media-tablet {
    width: 60px;
  }
}

.footer__year {
  @extend %font-prim;
  @include font($size: 4rem, $color: $color-primary, $weight: 700);
  @include media-tablet {
    font-size: 3rem;
  }
}

.footer__img-rsschool {
  width: 150px;
  @include media-tablet {
    width: 100px;
  }
}
