.game {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game__title {
  text-align: center;
  margin-bottom: 40px;
  @extend %font-prim;
  @include font($size: 3rem, $color: $color-primary, $weight: 700);
}

.wrapper-game {
  width: 100%;
}
