.game {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game__title {
  text-align: center;
  font-size: 40px;
  color: rgb(51, 51, 142);
  @include media-tablet {
    font-size: 30px;
  }
}

.wrapper-game {
  width: 100%;
}
