.settings {
  position: fixed;
  top: 20px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @extend %cursor-hover;

  z-index: 1;
  img {
    width: 50px;
    transition: 0.5s all;
    &:hover {
      scale: 0.8;
    }
    @include media-tablet {
      width: 40px;
    }
  }
}

.menu {
  position: relative;
  right: 0;
  height: 100vh;
  z-index: 1;
  transition: all 0.6s;
  background-color: $color-primary;
  border-left: 3px solid $color-border-light;
  &.active {
    right: 0;
  }
  @extend %font-prim;
  @include font($size: 2rem, $weight: 500);
  @include media-laptop {
    position: fixed;
    height: 100vh;
    right: -100%;
  }
}
.menu__block {
  position: relative;
  width: 345px;
  // height: 100%;
  padding: 20px 20px;
  transition: all 0.6s;
  z-index: 1;
  span {
    // @extend %font-add;
    color: $color-primary;
    background-color: $color-background;
    padding: 2px 5px;
  }
}

.menu__close {
  position: absolute;
  display: none;
  top: 15px;
  right: 15px;
  @extend %cursor-hover;

  img {
    width: 50px;
    transition: 0.5s all;
    &:hover {
      scale: 0.8;
    }
  }
  @include media-laptop {
    display: block;
  }
}
.menu__list {
  list-style-type: none;
  padding-left: 35px;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin-bottom: 20px;
  // @include font($size: 2rem, $weight: 500);
}

.menu__level-switch {
  display: flex;
}

.menu__prev {
  width: 30px;
  @extend %cursor-hover;

  transition: 0.5s all;
  &:hover {
    scale: 1.2;
  }
}

.menu__next {
  width: 30px;
  transform: rotate(-180deg);
  @extend %cursor-hover;

  transition: 0.5s all;
  &:hover {
    scale: 1.2;
  }
}

.menu__task {
  margin-bottom: 10px;
  line-height: 2.6rem;
  border-bottom: 2px solid $color-border-dark;
  height: 450px;
}

.menu__description {
  @include font($size: 1.8rem, $weight: 500);
}

.menu__description-title {
  // font-size: 18px;
  // margin-bottom: 5px;
}

.menu__description-task {
  @include font($size: 1.6rem, $color: $color-dark-text);
  // margin-bottom: 10px;
}
.menu__description-attribute {
  padding: 5px;
  display: inline-block;
  background-color: $color-primary;
  color: $color-dark-text;
  // margin-bottom: 10px;
}
.menu__description-correction {
  margin-bottom: 20px;
  line-height: 2.8rem;
  @include font($size: 1.6rem, $color: $color-dark-text);
}
.menu__example {
  margin-bottom: 30px;
  line-height: 2.6rem;
  @include font($size: 1.8rem, $weight: 500);
}
.menu__example-solution {
  @include font($size: 1.6rem, $color: $color-dark-text);
}

.menu__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.menu__levels-title {
  // margin-bottom: 10px;
}

.menu__reset {
  width: 35px;
  @extend %cursor-hover;
  transition: all 0.5s;
  &:hover {
    scale: 1.1;
  }
}

.menu__levels-list {
  list-style-type: none;
  padding-left: 40px;
  @include font($size: 1.6rem, $color: $color-dark-text);
}

.menu__levels-item {
  display: inline-block;
  position: relative;
  @extend %cursor-hover;
  @extend %cursor-hover;

  margin-bottom: 5px;
  transition: 0.5s all;
  &:hover {
    color: $color-light-text;
    // font-size: 2rem;
    scale: 1.1;
  }
  &::before {
    position: absolute;
    content: '';
    background-image: url('../../assets/icons/interaction/check.svg');
    width: 20px;
    height: 20px;
    left: -25px;
    background-size: cover;
  }
}

.menu__current-level {
  background-color: rgba($color: $color-background, $alpha: 0.3);
}

.check_done {
  &::before {
    background-image: url('../../assets/icons/interaction/check-done.svg');
  }
}

.with_help {
  &::before {
    background-image: url('../../assets/icons/interaction/check-done-help.svg');
  }
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: -45px;
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/interaction/with-help.png');
    // background-size: 20px 20px;
    background-size: cover;
  }
}
