.hover {
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
  // border: 2px solid white;
}

.shape {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  background-size: 120px 120px;
  background-repeat: no-repeat;
  &::after {
    content: attr(data-tooltip);
    position: absolute;
    text-align: center;
    white-space: nowrap;
    left: 10px;
    top: -70px;
    background-color: $color-primary;
    color: #fff;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 1s;
    @extend %font-add;
    @include font($size: 1.6rem);
  }
  @include media-tablet {
    height: 60px;
    width: 60px;
    background-size: 60px 60px;
  }
}

.lighting-tag::after {
  opacity: 1;
}

.wheel {
  display: flex;
  justify-content: space-around;
  background-image: url('../../assets/icons/pirot/wheel.png');
  border-radius: 100%;
}

.lighting-code {
  transition: all 0.5s;
  color: $color-active;
}

.map {
  display: flex;
  justify-content: space-around;
  height: 140px;
  width: 140px;
  background-size: 140px 140px;
  background-image: url('../../assets/icons/pirot/map.png');
  @include media-tablet {
    height: 80px;
    width: 80px;
    background-size: 80px 80px;
  }
}

// .border {
//   background-image: url('../../assets/icons/pirot/skull.png');
// }

.spyglass {
  display: block;
  width: 60px;
  height: 20px;
  background-image: url('../../assets/icons/pirot/spyglass.png');
  background-size: 60px 20px;
  @include media-tablet {
    width: 30px;
    height: 15px;
    background-size: 30px 15px;
  }
}

.sword {
  display: block;
  height: 20px;
  width: 50px;
  background-image: url('../../assets/icons/pirot/sword.png');
  background-size: 50px 20px;
  @include media-tablet {
    height: 15px;
    width: 30px;
    background-size: 30px 15px;
  }
}

.bottle {
  display: block;
  height: 50px;
  width: 15px;
  background-image: url('../../assets/icons/pirot/bottle.png');
  background-size: 15px 50px;
  @include media-tablet {
    height: 30px;
    width: 10px;
    background-size: 10px 30px;
  }
}
