.hover {
  filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
  border: 2px solid white;
}
.hover-dark {
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
  border: 2px solid black;
}

.round {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #ee3c7d;
  border-radius: 100%;
  &::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 120px;
    left: 10px;
    top: -50px;
    background: #3989c9;
    color: #fff;
    padding: 0.5em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 1;
    transition: 1s;
  }
  &:hover::after {
    content: attr(data-tooltip);
    // opacity: 1;
  }
}

.help {
}

.test {
  color: green;
}

// round {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100px;
//   width: 100px;
//   background-color: #ee3c7d;
//   border-radius: 100%;
//   &::after {
//     content: attr(data-tooltip);
//     position: absolute;
//     width: 120px;
//     left: 10px;
//     top: -50px;
//     background: #3989c9;
//     color: #fff;
//     padding: 0.5em;
//     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
//     pointer-events: none;
//     opacity: 0;
//     transition: 1s;
//   }
//   &:hover::after {
//     content: attr(data-tooltip);
//     opacity: 1;
//   }
// }

#border {
  border: 10px solid greenyellow;
}

square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: #640303;
}

// rhomb {
//   height: 100px;
//   width: 100px;
//   background-color: #032a64;
//   transform: rotate(45deg);
// }

point {
  display: block;
  height: 50px;
  width: 50px;
  background-color: #ffdb12;
  border-radius: 100%;
}

blue {
  display: block;
  height: 50px;
  width: 50px;
  background-color: #032a64;
  border-radius: 100%;
}

rectangle {
  height: 50px;
  width: 20px;
  background-color: #0f9500;
}

// round::after {
//   content: attr(data-tooltip); /* Выводим текст */
//   opacity: 0;
// }

// round:hover::after {
//   content: attr(data-tooltip); /* Выводим текст */
//   opacity: 1;
// }
