@font-face {
  font-family: 'Nexa Script';
  src: url('../../assets/fonts/nextscript/NexaScript-Light.eot');
  src: local('../../assets/fonts/nextscript/Nexa Script Light'), local('NexaScript-Light'),
    url('../../assets/fonts/nextscript/NexaScript-Light.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/nextscript/NexaScript-Light.woff') format('woff'),
    url('../../assets/fonts/nextscript/NexaScript-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../../assets/fonts/geometria/Geometria-Light.eot');
  src: local('../../assets/fonts/geometria/Geometria Light'), local('Geometria-Light'),
    url('../../assets/fonts/geometria/Geometria-Light.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/geometria/Geometria-Light.woff') format('woff'),
    url('../../assets/fonts/geometria/Geometria-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../../assets/fonts/geometria/Geometria-Medium.eot');
  src: local('../../assets/fonts/geometria/Geometria Medium'), local('Geometria-Medium'),
    url('../../assets/fonts/geometria/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/geometria/Geometria-Medium.woff') format('woff'),
    url('../../assets/fonts/geometria/Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
