@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animation-rotation {
  animation-name: rotation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  &::after {
    top: 0px;
    left: 0px;
    height: 120%;
    width: 120%;
    animation: rotation 5s infinite linear reverse;
  }
}

@keyframes shake {
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.animation-shake {
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: unset;
}

@keyframes drop {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-10vh);
  }

  100% {
    transform: translateY(110vh);
  }
}

.animation-drop {
  animation-name: drop;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
