$color-primary: #2d5b75;
$color-border-dark: #091a23;
$color-border-light: #ffffff;
$color-dark-text: #c2ccd1;
$color-light-text: #c2ccd1;
$color-background-main: #cbedff;
$color-background-light: #848484;
$color-background-dark: #05334c;

$color-active: #fafafa;
$color-light: #ffffff;

$laptop-width: 1024px;
$tablet-width: 768px;
