// $color-primary: #073375;
// $color-primary-light: #fddcc4;

// $color-dark-main: #545454;
// $color-dark-additional: #4c4c4c;
// $color-dark-light: #cdcdcd;
// $color-dark-text: #b2b2b2;
// $color-text-button: #292929;
$color-primaty: #444;
$color-dark-text: #c2ccd1;
$color-light-text: #ffff;
$color-background-main: #679bb7;
$color-background-light: #ffff;
$color-background-dark: #0c3d57;

$color-active: #fafafa;
$color-light: #ffffff;

$laptop-width: 1024px;
$tablet-width: 768px;
