$color-primary: #05334c;
$color-primary-light: #2d5b75;
$color-secondary: #aaaaaa;
$color-border-dark: #091a23;
$color-border-light: #ffffff;
$color-dark-text: #92d7f9;
$color-light-text: #ffffff;
$color-background: #cbedff;

$color-active: #209e10;
// $color-light: #ffffff;

$laptop-large-width: 1200px;
$laptop-width: 1024px;
$tablet-width: 768px;
