@mixin font($size, $color: $color-light-text, $weight: 300, $style: normal) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
}

@mixin media-laptop-large {
  @media (max-width: $laptop-large-width) {
    @content;
  }
}

@mixin media-laptop {
  @media (max-width: $laptop-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-laptop-height {
  @media (max-height: $laptop-height) {
    @content;
  }
}

// @mixin media-tablet-height {
//   @media (max-height: $height-medium) {
//     @content;
//   }
// }
