%font-prim {
  font-family: 'Geometria', sans-serif;
}

%font-add {
  font-family: 'Nexa Script', sans-serif;
}

%cursor-hover {
  &:hover {
    cursor: url('../../assets/icons/pirot/cursor/gun.svg'), auto;
  }
}
